$dialog-color: #d8d8d8;
$font-color: #fff;

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.add-projects-cont {
  padding: 0 30px 30px;
  h2 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    padding: 15px 0 25px;
  }
  .upload-cont {
    text-align: center;
  }
  .button {
    text-transform: none;
    font-weight: lighter;
    padding: 0;
    width: 160px;
    font-family: 'GT-Walsheim';
    @include rounded(4px);
    &.primary-button {
      background-color: $dialog-color;
      color: $font-color;
    }
    &.secondary-button {
      color: $dialog-color;
      border: 1px $dialog-color solid;
    }
  }
  .fields-container {
    display: 'flex';
    flexWrap: 'wrap';
    padding: 50px 0 100px;
    .form-control {
      margin: 15px 0;
      label {
        font-family: 'GT-Walsheim';
        font-weight: lighter;
        color: $dialog-color;
      }
      input {
        font-family: 'GT-Walsheim';
      }
      & > div {
        &:hover:before {
          background-color: darken($dialog-color, 10%);
        }
        &:after {
          background-color: $dialog-color;
        }
      }
    }
  }
}