$dialog-color: #d8d8d8;
$font-color: #fff;

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

.add-projects-cont {
  padding: 0 30px 30px;
  h2 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    padding: 15px 0 25px;
  }
  .upload-cont {
    text-align: center;
  }
  .button {
    text-transform: none;
    font-weight: lighter;
    padding: 0;
    width: 160px;
    font-family: 'GT-Walsheim';
    @include rounded(4px);
    &.primary-button {
      background-color: $dialog-color;
      color: $font-color;
    }
    &.secondary-button {
      color: $dialog-color;
      border: 1px $dialog-color solid;
    }
  }
  .fields-container {
    display: 'flex';
    flexWrap: 'wrap';
    padding: 50px 0 100px;
    .form-control {
      margin: 15px 0;
      label {
        font-family: 'GT-Walsheim';
        font-weight: lighter;
        font-size: 14px;
        color: $dialog-color;
      }
      input {
        font-family: 'GT-Walsheim';
      }
      & > div {
        &:hover:before, &:before {
          background-color: darken($dialog-color, 10%);
        }
        &:after {
          background-color: $dialog-color;
        }
      }
    }
  }
  .autocomplete-container {
    border: 1px $dialog-color solid;
    border-top: none;
    position: absolute;
    top: 100%;
    width: calc(100% - 2px);
    z-index: 10;
    background-color: #fff;
  }
  .autocomplete-item {
    padding: 3px;
  }
  .google-logo-container {
    display: none;
  }
  .location-autocomplete {
    &, &:active, &:focus {
      @include placeholder {
        color: $dialog-color;
      }
      margin-top: 17px;
      outline: none;
      font-size: 14px;
      width: 100%;
      padding: 6px 0 7px;
      border-width: 0 0 1px 0;
      border-color: darken($dialog-color, 10%);
    }
  }
}